/* 
    Document   : registration
    Created on : Feb 1, 2013, 1:55:28 PM
    Author     : Jonas
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background: #78bdd0; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #78bdd0 0%, #99cedd 59%, #afdbe7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#78bdd0), color-stop(59%,#99cedd), color-stop(100%,#afdbe7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #78bdd0 0%,#99cedd 59%,#afdbe7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #78bdd0 0%,#99cedd 59%,#afdbe7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #78bdd0 0%,#99cedd 59%,#afdbe7 100%); /* IE10+ */
    background: linear-gradient(135deg,  #78bdd0 0%,#99cedd 59%,#afdbe7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78bdd0', endColorstr='#afdbe7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    font-family: Arial;
}
#content {
    width:450px;
    margin: 0px auto 0px auto;
}
h1 {
    color:#FFDD00;
    text-shadow: 1px 1px 3px #EDC200;
    text-align:center;
}
h2 {
    margin:0px 0px 10px 10px;
    color:#64696E;
}
label {
    font-size:14px;
}
a {
    text-decoration: none;
}
/* Generellt för varje sektion */
.section {
    padding:10px;
    background: #add9e4; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #add9e4 0%, #d9edf2 60%, #f7fbfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#add9e4), color-stop(60%,#d9edf2), color-stop(100%,#f7fbfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #add9e4 0%,#d9edf2 60%,#f7fbfc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #add9e4 0%,#d9edf2 60%,#f7fbfc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #add9e4 0%,#d9edf2 60%,#f7fbfc 100%); /* IE10+ */
    background: linear-gradient(135deg,  #add9e4 0%,#d9edf2 60%,#f7fbfc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add9e4', endColorstr='#f7fbfc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    border:1px solid #F7FAEF;
    margin-bottom: 5px;
}   


.button {
  -moz-box-shadow:inset 0px 0px 0px 0px #fff6af;
  -webkit-box-shadow:inset 0px 0px 0px 0px #fff6af;
  box-shadow:inset 0px 0px 0px 0px #fff6af;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
  background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
  background-color:#ffec64;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  border:1px solid #ffaa22;
  display:inline-block;
  color:#333333;
  font-family:Arial;
  font-size:14px;
  font-weight:bold;
  padding:6px 22px;
  text-decoration:none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
}
.button:hover {
  color:#997D00;
}
.button:active {
  position:relative;
  top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */