/* 
    Document   : header
    Created on : Feb 11, 2013, 11:37:55 AM
    Author     : Jonas
    Description:
        Purpose of the stylesheet follows.
*/

#language { 
    float:right;
    margin-top:-12px;
}
.langLink {
    margin: 2px;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
}
.langLink:hover {
    opacity:0.6;
}
